<div class="main" style="background-color: #707070 !important;">


    <div class="section section-basic" id="basic-elements" style="background-color: #707070 !important;">
        <img class="path" src="https://1.bp.blogspot.com/-L8a_4PeHejs/X-yOtu8h3DI/AAAAAAAAAgE/nzRjo0dKVUQxRPxqibScJohzrW0Jm16mwCLcBGAsYHQ/s2048/blob.png" />

        <div class="container" style="background-color: #707070 !important;">

        </div>

        <!--Footer-->
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
                        <div class="avatar mx-auto">
                            <img src="https://1.bp.blogspot.com/-JaGt5K_Pt9k/X-yOsHne6YI/AAAAAAAAAf4/vFmFJ2Yl-IMSCxI_KzfRbLk-uz55ZVgogCLcBGAsYHQ/s0/arquitectura.png" class=" z-depth-1" alt="Sample avatar">
                        </div>

                    </div>

                    <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
                        <div class="avatar mx-auto">
                            <img src="https://1.bp.blogspot.com/-cZx4kLTUe-M/X-yO0sxYzlI/AAAAAAAAAg8/rsMPO8iMfQ028CYdr96uON-QE5g5gVNogCLcBGAsYHQ/s320/ingsistemas.png" class=" z-depth-1" alt="Sample avatar">
                        </div>


                    </div>

                    <!-- Grid column -->
                    <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
                        <div class="avatar mx-auto">
                            <img src="https://1.bp.blogspot.com/-ScJk5aEd0XM/X-yO9Yi11bI/AAAAAAAAAiY/XqDQTgqepsEHjgeIJCYS8QZ8ylqUiCBwQCLcBGAsYHQ/s0/silux2.png" class="" alt="Sample avatar">
                        </div>


                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
                        <div class="avatar mx-auto">
                            <img src="https://1.bp.blogspot.com/-cZx4kLTUe-M/X-yO0sxYzlI/AAAAAAAAAg8/rsMPO8iMfQ028CYdr96uON-QE5g5gVNogCLcBGAsYHQ/s320/ingsistemas.png" class="" alt="Sample avatar">
                        </div>


                    </div>


                </div>

                <div class="row">

                    <div class="col-lg-6">

                        <div class="row">

                            <div class="col-sm-6">

                                <div class="footer-newsletter">
                                    <h3>•ArchITecture•</h3>
                                    <p style="text-align: justify;">ArchITecture es una iniciativa de profesores y estudiantes de la UFPS de los programas de Arquitectura e Ingeniería de Sistemas para lideras la transformación digital de la región desde la Arquitectura y aprovechando
                                        las TIC (Tecnologías de Información y Comunicación en inglés IT Information Technology)</p>
                                    <br>

                                </div>
                                <br>

                            </div>

                            <div class="col-sm-6">
                                <div class="footer-links">
                                    <h4>CONTACTENOS</h4>
                                    <p style="text-align: justify;">
                                        Programa de Ingeniería de Sistemas de la Universidad Francisco de Paula Santander.<br> Avenida Gran Colombia No. 12E-96 Barrio Colsag, Cúcuta, Colombia. <br>
                                        <strong>Telefono:</strong> +(57) 7 5776655 Extensiones 201 y 203<br>
                                        <strong>Correo:</strong> architectureufps@gmail.com<br>
                                    </p>
                                </div>

                                <div class="social-links">
                                    <label data-toggle="tooltip" data-placement="top" title="" data-original-title="Repositorio GitHub.">
                            <a href="https://github.com/AVBLANCO/TesisArquitecturaEMVM.git" target="_blank" rel="noopener noreferrer" class="github">
                                <img src="https://1.bp.blogspot.com/-sKBjHWCw6Qo/X-yOyuMCYqI/AAAAAAAAAgs/hS6DZ28MVCs5Qm4oC85rc8irh0gzpfftACLcBGAsYHQ/s320/git.png" alt="DockerHub" style="width: 50px; height: 40px;">
                            </a>
                          </label>
                                    <!-- <br> -->
                                    <label data-toggle="tooltip" data-placement="top" title="" data-original-title="Repositorio DockerHub.">
                            <a href="https://hub.docker.com/" target="_blank" rel="noopener noreferrer">
                              <img src="https://1.bp.blogspot.com/-giN4WNAFx3c/X-yOwNWSm2I/AAAAAAAAAgY/BYwmSLo3T2Mnb8MqUNuTAzIW9T_GSkqqwCLcBGAsYHQ/s320/docker.png" alt="DockerHub" style="width: 50px; height: 50px;">
                            </a> 
                          </label>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-lg-6">

                        <div class="form">
                            <h4>Dejanos un comentario</h4>
                            <p style="text-align: justify;">Al dejarnos un comentario realizas un gran aporte y nos ayudas a mejorar cada día.</p>
                            <form method="post" role="form" action="">
                                <input type="hidden" name="csrfmiddlewaretoken" value="4t3dPNYt8cLIQlGo86FwTUmhkB53MzdnGkKBkoA5Ajs5zdyJkShdDoYbVjj4KCUa">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" id="name" maxlength="80" placeholder="Nombre" data-rule="minlen:4" required="">

                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" id="email" maxlength="80" placeholder="Correo Electronico" data-rule="email" required="">

                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="message" rows="5" maxlength="80" data-rule="required" required="" placeholder="Mensaje"></textarea>

                                </div>

                                <div class="text-center"><button type="submit" title="Send Message">Enviar Comentario</button></div>
                            </form>
                        </div>

                    </div>



                </div>

            </div>
        </div>
        <!--Footer-->
    </div>